html {background: #37231a; padding: 12px 0; margin: 0;}
body {font-size: 16px; color: #3e392f; font-family: 'Open Sans', Arial, Verdana, sans-serif; background: #e9ead8 url(../img/bg_body.png) center top repeat; padding: 0; margin: 0;}
body#news {background-image: url(../img/bg_body_news.jpg);}

a:focus {outline: none;}

.container,
#navbar .container {position: relative; width: 100%; max-width: 900px;}

#header {height: 310px; text-align: center; background: url(../img/bg_header.png) center top no-repeat; box-shadow: 0 8px 8px -6px #000; padding: 0 10px;}
#header .container {text-align: center;}
#header .phone {position: absolute; top: 212px; left: 15px; width: 34%; font: normal 16px/20px Arial; color: #423d39; text-align: left;}
#header .phone img {height: auto; margin-right: 5px;}
#header #logo {z-index: 10001; width: 257px; height: 257px; overflow: hidden; margin: 6px auto 0 auto;}
#header #logo a {display: block; width: 100%;}
#header #logo a img {width: 100%; height: auto;}
#header .social {position: absolute; top: 205px; right: 10px; width: 34%; font: normal 16px/20px Arial; color: #423d39; text-align: right;}
#header .social a {display: inline;}
#header .social a img {vertical-align: baseline; height: auto;}
@media (max-width: 790px) {
	#header .phone {top: 214px; left: 0; font-size: 16px;}
	#header .phone img {width: 36px; margin: 0;}
}
@media (max-width: 780px) {
	#header .social {top: 208px; right: 0;}
	#header .social a img {max-width: 46px;}
}
@media (max-width: 730px) {
	#header .phone {font-size: 14px;}
	#header .social {top: 212px;}
	#header .social a img {max-width: 40px;}
}
@media (max-width: 680px) {
	#header .phone {top: 217px; font-size: 12px;}
	#header .phone img {width: 30px; margin: 0;}
	#header .social {top: 215px;}
	#header .social a img {max-width: 36px;}
}
@media (max-width: 630px) {
	#header .phone {top: 219px;}
	#header .phone img {width: 26px; margin: 0;}
	#header .social {top: 218px;}
	#header .social a img {max-width: 30px;}
}
@media (max-width: 610px) {
	#header .phone {top: 274px; color: #EAE5D0;}
	#header .social {top: 272px;}
}
@media (max-width: 510px) {
	#header .phone {top: 274px; font-size: 11px;}
}
@media (max-width: 470px) {
	#header .phone {top: 5px; width: 49%; color: #423d39;}
	#header .social {top: 5px; width: 49%;}
	#header .social img {width: 26px;}
}
@media (max-width: 360px) {
	#header .phone {width: 55%;}
	#header .social {width: 45%;}
}

.nav {padding: 0; margin: 0;}
.nav-list {position: relative; float: none; list-style: none; text-align: center; word-spacing: -1em; /*background: blue;*/ padding: 10px 0 0; margin: 0;}
.nav-list * {word-spacing: 0;}
.nav .mobile_navi {display: none; width: 100px; height: 24px; float: none; padding: 2px; margin: 0 auto;}
.nav .mobile_navi:focus,
.nav .mobile_navi option:focus {outline: 0;}

.nav-list > li {position: relative; display: inline; font-size: 8px; line-height: 8px; border-left: 1px solid #e8e9d6; padding: 0; margin: 0;}
.nav-list > li:first-child {border: none;}
.nav-list > li > a {position: relative; vertical-align: -1px; display: inline; text-align: center; font: normal 13px/16px Times, sans-serif; color: #e8e9d6; text-transform: uppercase; text-decoration: none; text-shadow: none; /*background: blue;*/ border: none; z-index: 900; padding: 6px 16px 16px; margin: 0;}
.nav-list > .last {margin-right: 0;}
.nav-list > li a:focus {background-color: transparent;}
.nav-list > li a:hover,
.nav-list > .active > a,
.nav-list > .active > a:hover,
.nav-list > li ul .active > a,
.nav-list > .active > a:focus {outline: 0; background-color: transparent;}
.nav-list > li > ul {display: none; position: absolute; top: 29px; left: -10px; z-index: 1000; width: 191px; list-style: none; background: url(../img/bg_subnavi.png) 0 0 repeat; border: 1px solid #e6e8d3; border-width: 0 1px 1px; padding: 8px 16px 12px; margin: 0;}
.nav-list > li > ul > li {display: block; list-style: none; text-align: left;}
.nav-list > li > ul > li > a {display: block; font: normal 13px/20px Verdana, Arial; color: #e6e8d3; text-decoration: none; text-transform: uppercase; padding: 4px 0;}
.nav-list > li.expanded > ul,
.nav-list > li:hover > ul {display: block;}

@media (max-width: 870px) {
    .nav-list > li > a {font-size: 12px;}
}
@media (max-width: 840px) {
    .nav-list > li > a {padding-left: 12px; padding-right: 12px;}
}
@media (max-width: 780px) {
    .nav-list > li > a {font-size: 11px; padding-left: 10px; padding-right: 10px;}
}
@media (max-width: 710px) {
    .nav-list > li > a {font-size: 11px; padding-left: 6px; padding-right: 6px;}
}
@media (max-width: 650px) {
    .nav-list > li > a {font-size: 10px; padding-left: 6px; padding-right: 6px;}
}
@media (max-width: 610px) {
    #top_navi {display: none;}
    .nav {padding: 11px 0 9px;}
    .nav .mobile_navi {display: block;}
}


/* CONTENT */
h1 {clear: both; float: none; font: 700 14px/18px 'Open Sans', sans-serif; color: #3b3b3b; text-transform: none; padding: 20px 0 0; margin: 0 0 10px 0;}
h2 {font: normal 1.5em/1.16667em 'Oswald', sans-serif; color: #000; padding: 0; margin: 0 0 10px;}
p {font: 300 14px/18px 'Open Sans', sans-serif; color: #3b3b3b; padding: 0; margin: 0 0 10px;}
p a,
p a:hover {color: #3b3b3b; text-decoration: underline;}
img.span_bottom {margin-bottom: 25px!important;}

#content {background: url(../img/bg_content.png) 0 0 repeat; box-shadow: inset 0 8px 8px -8px black, 0 8px 8px -8px black; padding: 0 10px; margin: 0 0 8px;}
#content .container {background: none; padding: 0;}
div.sideban {position: absolute; top: 8px; left: 0; width: 120px; min-height:480px; overflow: hidden; padding: 0; margin: 0 0 0 -129px;}
div.sideban.right {left: auto; right: 0; padding: 0; margin-right: -129px;}
div.sideban img {display: block; max-width: 100%; overflow: hidden; margin: 0;}
div.sideban.right img {margin: 0;}

.contentcol {width: 100%; background: url(../img/bg_contentcol.png) 0 bottom repeat-x; margin-bottom: 30px;}
.homepage .contentcol {background: none;}
@media (max-width: 560px) {
    .contentcol,
    .homepage .contentcol {float: none; width: 100%;}
}
.contentcol .headline {position: relative; z-index: 2; min-height: 107px; background: #20150f url(../img/bg_contentcol_headline.png) 0 bottom repeat-x; box-shadow: 0 3px 3px -3px black; padding-top: 12px;}
.about_us   .headline {background-image: url(../img/bg_contentcol_headline_about.png);}
.contentcol .headline h1 {font: normal 35px/39px Times, sans-serif; color: #f0ebd6; text-align: center; text-transform: uppercase; margin-bottom: 2px;}
.contentcol .headline p {font: italic normal 16px/20px Times, sans-serif; color: #f0ebd6; text-align: center; text-transform: uppercase; padding: 0;}

.home_text {background: #00664E url(../img/bg_home_text.jpg) 0 0 no-repeat; padding: 30px 2.222%;}
.home_text h1 {font: normal 23px/27px Times, sans-serif; color: #e8e9d6; text-align: center; text-transform: none; padding: 0; margin: 0 0 2.222%;}
.home_text p {font: normal 15px/30px Times, sans-serif; color: #e8e9d6; padding: 0 0 2.222% 0; margin: 0;}
.home_text p a {color: #e8e9d6; text-decoration: underline;}

.text {pposition: relative; z-index: 1; clear: both; color: #f0ebd6; text-align: center; background: url(../img/bg_text.png) 0 0 repeat; padding: 18px;}
.text h1,
.text h2 {font: 700 14px/18px 'Open Sans', sans; color: #3b3b3b; text-align: left; padding: 0; margin: 0 0 10px 0;}
.text h1 a,
.text h2 a {}
.text p {text-align: left;}
.text img,
.text .span_bottom {float: none; display: inline; width: auto; max-width: 100%; height: auto; margin: 0 auto 25px;}
.text .wrap {background: #766e68;}
.text .col {float: left; width: 50.923%; max-width: 441px; border-right: 10px solid #b2ab98; box-shadow: inset -3px 0 6px -6px black; padding: 10px 0;}
.text .col.right {float: right; width: 47.921%; max-width: 415px; border: none; box-shadow: 0; padding: 0}
.text .col.right img {width: 100%; max-width: 100%; height: auto; margin: 0;}
.text .col h2 {font: normal 24px/28px Times, sans-serif; color: #45413e; text-align: center; text-transform: uppercase; padding: 0 20px; margin: 0 0 2px;}
.text .col p {font: normal 16px/20px Times, sans-serif; color: #f0ebd6; text-align: center; padding: 0 20px; margin: 0;}
.text .col .line {height: 3px; background: url(../img/about-us/bg_line_about.png) 0 0 repeat-x; margin: 9px 6px 10px;}
@media (max-width: 935px) {
	.text .col.right {width: 47.85%;}
}
@media (max-width: 886px) {
	.text .col.right {width: 47.75%;}
}
@media (max-width: 825px) {
	.text .col.right {width: 47.65%;}
}
@media (max-width: 770px) {
	.text .col.right {width: 47.55%;}
}
@media (max-width: 725px) {
	.text .col.right {width: 47.45%;}
}
@media (max-width: 685px) {
	.text .col.right {width: 47.35%;}
}
@media (max-width: 650px) {
	.text .col.right {width: 47.25%;}
}
@media (max-width: 620px) {
	.text .col {width: 100%; max-width: 100%; border: none; box-shadow: none;}
	.text .col.right {width: 100%; max-width: 100%; text-align: center;}
}
@media (max-width: 400px) {
	.contentcol .headline {min-height: 80px;}
	.contentcol .headline h1 {font-size: 30px; line-height: 34px;}
}
.color_options .headline {padding-left: 32%; margin: 0;}
.color_options .headline h1,
.color_options .headline p {text-align: left; margin: 0 10px 0;}
.color_options .text {min-height: 602px; font-size: 13px; line-height: 16px; text-align: left; padding-left: 32%;}
.color_options .text h2 {font: normal 19px/23px Times, sans-serif; color: #f0ebd6; text-align: left; text-transform: uppercase; text-decoration: underline; padding: 0; margin: 0 0 8px 10px;}
.color_options .text h3 {font: normal 16px/20px Times, sans-serif; color: #f0ebd6; text-align: left; text-transform: uppercase; padding: 0; margin: 0 0 10px 10px;}
.color_options .options_wrap {display: table-cell; text-align: center; /*background: #221610; border-radius: 110px; padding: 10px;*/ margin: 0 0 16px;}
.color_options .options_wrap a {display: block; float: left; width: 100%; max-width: 82px; background: #221610; padding: 10px 5px; margin: 0;}
.color_options .options_wrap a:first-child {border-radius: 50% 0 0 50%; padding-left: 10px;}
.color_options .options_wrap a:last-child {border-radius: 0 50% 50% 0; padding-right: 10px;}
.color_options .options_wrap img {display: block; vertical-align: baseline; width: 100%; max-width: 60px; height: auto; border: 11px solid #3c332e; border-radius: 50%; margin: 0;}
.color_options .options_wrap a:hover img {border-color: #261a14;}
.color_options img[class^=ribbon_] {position: absolute; top: 0; left: 4.222%; width: 23.444%; min-width: 124px; z-index: 3;}
@media (max-width: 760px) {
	.color_options .options_wrap a {max-width: 66px;}
	.color_options .options_wrap img {border-width: 8px; max-width: 50px}
}
@media (max-width: 640px) {
	.color_options .options_wrap a {max-width: 56px;}
	.color_options .options_wrap img {border-width: 8px; max-width: 40px}
}
@media (max-width: 565px) {
	.color_options .options_wrap a {max-width: 47px;}
	.color_options .options_wrap img {border-width: 6px; max-width: 35px}
}
@media (max-width: 550px) {
	.color_options .headline,
	.color_options .text {padding-left: 160px;}
	.color_options .text h2 {font-size: 16px;}
	.color_options .text h3 {font-size: 14px;}
}
@media (max-width: 520px) {
	.color_options .headline h1 {font-size: 30px;}
	.color_options .options_wrap a {max-width: 42px;}
	.color_options .options_wrap img {border-width: 6px; max-width: 30px}
}
@media (max-width: 490px) {
	.color_options .headline h1 {font-size: 26px;}
	.color_options .headline p {font-size: 14px;}
	.color_options .options_wrap a {max-width: 35px;}
	.color_options .options_wrap img {border-width: 5px; max-width: 25px}
}
@media (max-width: 450px) {
	.color_options .options_wrap a {max-width: 26px;}
	.color_options .options_wrap img {border-width: 3px; max-width: 20px}
}
@media (max-width: 430px) {
	.color_options .headline h1 {font-size: 22px;}
	.color_options .headline p {font-size: 12px;}
}
@media (max-width: 405px) {
	.color_options .headline {padding-top: 0px; padding-bottom: 20px;}
	.color_options .headline,
	.color_options .text {padding-left: 150px;}
	.color_options .headline h1 {font-size: 20px;}
	.color_options .headline p {font-size: 11px;}
	.color_options .options_wrap a {max-width: 22px;}
	.color_options .options_wrap img {border-width: 3px; max-width: 16px}
}
@media (max-width: 380px) {
	.color_options .headline h1 {font-size: 18px; line-height: 24px; text-align: center; margin-left: 0;}
	.color_options .headline p {font-size: 11px; line-height: 15px; text-align: center; margin-left: 0;}
	.color_options .options_wrap a {padding: 6px 3px;}
	.color_options .options_wrap a:first-child {padding-left: 6px;}
	.color_options .options_wrap a:last-child {padding-right: 6px;}
}
@media (max-width: 350px) {
	.color_options .options_wrap a {max-width: 20px; padding: 4px 2px;}
	.color_options .options_wrap a:first-child {padding-left: 4px;}
	.color_options .options_wrap a:last-child {padding-right: 4px;}
	.color_options .options_wrap img {border-width: 3px; max-width: 14px}
}
@media (max-width: 350px) {
	.color_options .options_wrap a {max-width: 18px;}
	.color_options .options_wrap img {border-width: 3px; max-width: 12px}
}
.products .headline {min-height: 10px; background: url(../img/bg_text.png) 0 0 repeat; border-bottom: 2px solid #000; box-shadow: none; padding: 5.1% 0 1.6666%;}
.products .headline .wrap {background: url(../img/bg_products_headline_wrap.png) 0 0 repeat-y; padding: 0.6% 2.777% 0; margin: 0;}
.products .headline h1 {float: left; width: 40%; font: normal 35px/39px Times, sans-serif; color: #f0ebd6; text-align: left; text-transform: uppercase; text-shadow: 1px 1px 2px black; padding: 0; margin: 0;}
.products .headline p {font: 300 16px/20px 'Open Sans', sans-serif; color: #f0ebd6; text-align: right; text-transform: uppercase; padding: 6px 0; margin: 0;}
.products .text {border-top: 1px solid #604c3d; border-bottom: 6px solid #443e2d; padding: 18px 6px 22px;}
.products .item {position: relative; display: block; float: left; width: 30.82%; background: #311308; box-shadow: 4px 4px 4px -4px black; padding: 1%; margin: 0.25%;}
.products .item:hover {background-color: #006047;}
.products .item img {display: block; vertical-align: baseline; max-width: 100%; height: auto; margin: 0 auto;}
.products .item p {position: absolute; bottom: 3%; left: 3%; width: 83%; font: normal 14px/18px 'Open Sans', sans-serif; color: #f0ebd6; text-align: left; text-decoration: none; background: url(../img/bg_brown_transparency_90.png) 0 0 repeat; padding: 2.564% 5.4%; margin: 0;}
.products .item p img {position: absolute; bottom: -2px; right: -2px; width: auto; max-width: auto; height: 107%; background: url(../img/products/bg_item_name.png) right bottom no-repeat; background-size: contain;}
@media (max-width: 660px) {
	.products .item {width: 47.5%; text-align: center;}
	.products .item p {bottom: 2.1%; left: 2%; width: 85%;}
}
@media (max-width: 520px) {
	.products .headline h1,
	.products .headline p {float: none; width: 100%; text-align: center;}
}
@media (max-width: 440px) {
	.products .item p {font-size: 12px;}
}
@media (max-width: 400px) {
	.products .text {text-align: center;}
	.products .item {float: none; width: 96%; max-width: 274px; padding: 6px; margin: 4px auto;}
	.products .item p {font-size: 16px;}
}
.product_detail .contentcol {width: 97.333%; background: url(../img/bg_text.png) 0 0 repeat; padding: 22px 1.333% 16px;}
.product_detail .imagebox {float: left; width: 49%; text-align: center; margin: 0 0 15px;}
.product_detail .imagebox img {max-width: 100%; height: auto; vertical-align: baseline;}
.product_detail .infobox {float: left; width: 51%; text-align: center; margin: 0 0 15px;}
.product_detail a.quote {display: block; font: 700 19px/23px 'Open Sans', sans-serif; color: #f0ebd6; text-align: center; text-transform: uppercase; text-decoration: none; background: url(../img/bg_product_quote.png) 0 0 repeat-y; box-shadow: 3px 3px 6px -3px black; padding: 7px 8px;}
.product_detail a.quote span {display: block; background: #005941; border: 1px solid #78ad96; box-shadow: inset 2px 2px 2px -2px black, 2px 2px 2px -2px black; padding: 10px;}
.product_detail .thumbs {padding: 4.5% 4%;}
.product_detail .thumbs a {display: block; float: left; width: 23%; margin: 1%;}
.product_detail .thumbs a img {max-width: 100%; height: auto;}
.product_detail .headline {min-height: 10px; background: url(../img/bg_product_headline.png) 0 0 repeat-y; padding: 1.598% 1.598% 1%; margin: 0 0 3px;}
.product_detail .headline a.back {display: block; float: left; width: 5.424%; min-width: 34px;}
.product_detail .headline a.back img {max-width: 100%; height: auto;}
.product_detail .headline h1 {float: left; clear: none; font: normal 24px/28px Times, sans-serif; color: #f0ebd6; text-transform: uppercase; padding: 1.2% 1.2% 1.2% 2%; margin: 0;}
.product_detail .headline .available_colors {float: right; font: 400 1.0769em/1.2857em 'Open Sans', sans-serif; color: #301106; text-transform: uppercase; background: url(../img/bg_available_colors.png) 0 0 repeat-x; border-radius: 15px; box-shadow: 0 -4px 4px -4px black; padding: 4px 4px 4px 15px; margin-top: 8px;}
.product_detail .headline .available_colors span {float: right; margin: 1px 0 0 14px;}
.product_detail .headline .available_colors a {display: block; float: left; width: 100%; max-width: 14px; background: #f0ebd6; box-shadow: 0 -2px 2px -2px black; padding: 4px 6px 4px 2px; margin-left: -4px;}
.product_detail .headline .available_colors a:first-child {border-radius: 11px 0 0 11px; padding-left: 4px;}
.product_detail .headline .available_colors a:last-child {border-radius: 0 11px 11px 0; padding-right: 4px;}
.product_detail .headline .available_colors img {display: block; vertical-align: baseline; width: 100%; max-width: 14px; height: auto; border-radius: 50%; padding: 0; margin: 0;}
.product_detail .text {background: #251812 url(../img/bg_product_text.png) center 6px no-repeat; background-size: 97% 3px; padding: 5.7% 3% 4.7%;}
.product_detail .text p {font: normal 16px/20px Times, sans-serif; color: #e8e9d6; text-align: center;}
@media (max-width: 700px) {
	.product_detail .headline {text-align: center;}
	.product_detail .headline h1 {float: none; width: 100%; clear: both; text-align: center; padding: 0; margin-bottom: 5px;}
	.product_detail .headline .available_colors {float: none; max-width: 280px; margin: 8px auto 5px;}
}
@media (max-width: 480px) {
	.product_detail .imagebox,
	.product_detail .infobox {float: none; width: 100%;}
	.product_detail .headline a.back {margin-bottom: 5px;}
}
@media (max-width: 360px) {
	.product_detail .text p {text-align: left;}
	.product_detail .headline .available_colors {font-size: 13px; line-height: 22px;}
}
.gallery .contentcol {background: #231610; padding-bottom: 22px;}
.gallery .text {border-bottom: 1px solid #544335; padding: 7.555% 18px 4%;}

#home_carousel_container {padding: 0; margin: 0;}
#home_carousel {padding: 0 65px; margin: 0;}
#home_carousel .carousel-inner {padding: 0; margin: 0;}
#home_carousel .carousel-control {position: absolute; top: 0px; left: 0px; z-index: 2; width: 60px; height: 100%; text-indent: -9000px; cursor: pointer; outline: none; background: #882330 url(../img/nav.png) -35% 48% no-repeat; border: none; border-radius: 0!important; opacity: 1; padding: 0; margin: 0;}
#home_carousel .carousel-control.right {right:0px; left:auto; background-position: 130% 48%;}
.carousel-fade .carousel-inner .item {box-shadow: inset -5px -5px -5px #000; opacity: 0; -webkit-transition: .7s opacity; -moz-transition: .7s opacity; -o-transition: .7s opacity; transition: .7s opacity; background: blue;}
.carousel-fade .carousel-inner .item .info {position: absolute; bottom: 0; left: 0; width: 100%; background: url(../img/bg_white_transparency_50.png) 0 0 repeat; padding: 1.948% 0 1.5%;}
.carousel-fade .carousel-inner .item .info h2 {font: normal 35px/39px Times, sans-serif; color: #282828; text-align: left; text-transform: uppercase; padding: 0; margin: 0 0 0 2.727%;}
.carousel-fade .carousel-inner .item .info p {font: normal 16px/20px Arial; color: #282828; text-transform: uppercase; padding: 0; margin: 0 0 0 2.727%;}
.carousel-fade .carousel-inner .item .info img {position: absolute; bottom: 5px; right: 5px; width: auto; height: 86%; background: url(../img/bg_slideshow_triangle.png) right bottom no-repeat; background-size: contain;}
.carousel-fade .carousel-inner .active {opacity: 1;}
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {left: 0; opacity: 0; z-index: 1;}
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {opacity: 1;}
.carousel-fade .carousel-control {z-index: 2;}
@media (max-width: 840px) {
	.carousel-fade .carousel-inner .item .info h2 {font-size: 30px; line-height: 34px;}
	.carousel-fade .carousel-inner .item .info p {font-size: 14px; line-height: 18px;}
}
@media (max-width: 650px) {
	.carousel-fade .carousel-inner .item .info h2 {font-size: 26px; line-height: 30px;}
}
@media (max-width: 600px) {
	.carousel-fade .carousel-inner .item .info h2 {font-size: 22px; line-height: 26px;}
	.carousel-fade .carousel-inner .item .info p {font-size: 12px; line-height: 16px;}
}
@media (max-width: 530px) {
	.carousel-fade .carousel-inner .item .info h2 {font-size: 18px; line-height: 22px;}
	.carousel-fade .carousel-inner .item .info p {font-size: 11px; line-height: 15px;}
	.carousel-fade .carousel-inner .item .info img {display: none;}
}
@media (max-width: 420px) {
	#home_carousel {padding: 0 35px; margin: 0;}
	#home_carousel .carousel-inner {padding: 0; margin: 0;}
	#home_carousel .carousel-control {width: 30px; background-position: 5px 48%;}
	#home_carousel .carousel-control.right {background-position: 106% 48%;}
}

/* UNDER CONTENT */
#under_content {background: #e6e8d3; border-top: 1px solid #ddd4bd;}
#under_content .container {padding: 25px 0;}
#under_content p {font: normal 15px/20px Times, sans-serif; color: #423d39; text-align: center; text-transform: uppercase; padding: 0; margin: 0;}
#under_content p a {color: #00694f; text-decoration: underline;}
#under_content p a:hover {text-decoration: none;}

/* UNDER CONTENT */
#above_footer {background: #ddd4bd; box-shadow: 0 -6px 6px -8px black;}
#above_footer ul {list-style: none; padding: 0; margin: 0;}
#above_footer li {float: left; width: 33.2%; font: normal 16px/46px Verdana, Arial; color: #e8e9d6; text-align: center; text-transform: uppercase; padding: 0; margin: 0 0 0 1px;}
#above_footer li:first-child {width: 33.3%; margin: 0;}
#above_footer li a {display: block; color: #e8e9d6; text-decoration: none; background: #462b1f;}
#above_footer li.wine a {background-color: #882330;}
@media (max-width: 730px) {
	#above_footer li {font-size: 14px;}
}
@media (max-width: 670px) {
	#above_footer li:first-child {width: 33.2%;}
}
@media (max-width: 640px) {
	#above_footer li {font-size: 12px;}
}
@media (max-width: 550px) {
	#above_footer li {font-size: 10px;}
}
@media (max-width: 505px) {
	#above_footer li {width: 33.1%;}
}
@media (max-width: 480px) {
	#above_footer li,
	#above_footer li:first-child {width: 100%; font-size: 14px; margin: 0 0 1px 0;}
}

/* FOOTER */
#footer {background: none; padding: 0 10px; margin: 0;}
#footer .container {text-align: center; padding: 25px 0; margin: 0 auto;}
#footer .navi {background: url(../img/bg_footer_navi.png) center bottom no-repeat; padding: 0 2.444%; margin-bottom: 20px;}
#footer .navi .mobile_navi {display: none; width: 100px; height: 26px; padding: 2px; margin: 0 auto 20px;}
#footer .navi ul {float: left; width: 17.289%; list-style: none; padding: 0; margin: 0 0 10px;}
#footer .navi ul.col2 {width: 23.364%;}
#footer .navi ul.col3 {width: 22.897%;}
#footer .navi ul.col4 {width: 22.897%;}
#footer .navi ul.col5 {width: 13.551%;}
#footer .navi ul ul {float: none; width: 100%; margin: 0;}
#footer .navi ul > li {margin-bottom: 16px;}
#footer .navi ul li a {display: block; font: normal 14px/20px Times, sans-serif; color: #423d39; text-transform: uppercase; text-align: left; text-decoration: underline; padding: 0; margin-bottom: 6px;}
#footer .navi ul li a:hover {text-decoration: none;}
#footer .navi ul li li {margin-bottom: 0;}
#footer .navi ul ul li a {font-size: 12px; line-height: 16px; color: #423d39; text-decoration: none; margin-bottom: 6px}
#footer .copyright {font: normal 14px/20px Times, sans-serif; color: #423d39; text-transform: uppercase; padding-right: 3%; margin: 0 0 15px;}
#footer .copyright img {margin-bottom: 20px;}
#footer .copyright p {font: normal 14px/20px Times, sans-serif; color: #423d39;}
#footer .author {font: normal 14px/18px Times, sans-serif; color: #a19787; text-align: center; text-transform: uppercase; padding: 0 3%; margin-bottom: 10px;}
#footer .author a {color: #a19787; text-decoration: none;}
@media (max-width: 930px) {
    #footer .navi ul li a {font-size: 13px;}
}
@media (max-width: 820px) {
    #footer .navi {float: none; width: 100%; padding: 0; margin-bottom: 10px;}
    #footer .navi ul.col2 {width: 21.364%;}
    #footer .navi ul.col3 {width: 20.897%;}
    #footer .navi ul.col5 {width: 17.551%;}
    #footer .navi ul li a {font-size: 12px;}
    #footer .navi ul ul li a {font-size: 11px;}
    #footer .contacts,
    #footer .author {float: none; width: 94%; clear: both; padding: 0 3%;}
}
@media (max-width: 735px) {
	#footer .navi ul.col4 {width: 24.897%;}
	#footer .navi ul.col5 {width: 15.551%;}
    #footer .navi ul li a {font-size: 12px;}
    #footer .navi ul ul li a {font-size: 11px;}
}
@media (max-width: 670px) {
	#footer .navi ul li a {font-size: 11px;}
    #footer .navi ul ul li a {font-size: 10px;}
}
@media (max-width: 620px) {
    #footer .navi,
    #footer .contacts,
    #footer .author {text-align: center;}
    #footer .navi {padding-top: 0;}
    #footer .navi ul {display: none;}
    #footer .navi .mobile_navi {display: block;}
}

.author {font: 700 12px/16px 'Open Sans', sans; color: #170e08; text-align: center; text-transform: uppercase;}
.author a {color: #170e08; text-decoration: none;}


.youtube {text-align: center;}
.youtube iframe,
.youtube object,
.youtube embed {width: 100%; max-width: 640px;}


#dialog_box {position: absolute; z-index: 1000; max-width: 94%; /* padding-top: 11px;*/}
#dialog_box .inside {min-width: 50px; min-height: 50px; padding: 0;}
#dialog_box.accepted .inside {border-color: #ffc600;}
#dialog_box.declined .inside {border-color: #db0000;}
#dialog_box.warning .inside {border-color: #650800;}
#dialog_box .top_links {opacity: 1; padding: 10px 20px 0;}
#dialog_box .top_links a {font: normal 14px/18px Times, sans-serif; color: #ecedf7; text-decoration: none; padding: 6px;}
#dialog_box .top_links a span {text-decoration: underline;}
#dialog_box .top_links a.close {float: right; text-shadow: none; opacity: 1;}
#dialog_box .top_links a.close img {width: 19px; height: 17px; background: url(./design/bg-close-dialogbox.png) center 3px no-repeat;}
#dialog_box .top_links a.close:hover img {background-position: center -32px;}
#dialog_box .content {padding: 5.555% 8.888%;}
#dialog_box .content img {max-width: 100%; height: auto;}
#dialog_box .inside h2 {font: bold 1.230769em/1.375em Arial; color: #000; text-align: center; text-transform: none; margin: 0 0 22px;}
#dialog_box .inside p {font: normal 0.9231em/1.6667em Arial; color: #e8e9d6; padding: 0; margin: 0 0 22px 0;}
#dialog_box .inside p a {color: #e2001a; text-decoration: underline;}
#dialog_box .image_dialog {position: relative; border: 2px solid #cbbda5;}
#dialog_box .image_dialog .top_links {position: absolute; top: 0; left: 0; z-index: 20; width: 98%; padding: 1%;}
#dialog_box .image_dialog .content {position: relative; padding: 0;}
#dialog_box .image_dialog .content img {}
#dialog_box .image_dialog .content span {position: absolute; bottom: 0; left: 0; width: 96%; font: normal 16px/20px Times, sans-serif; color: #231711; text-align: right; text-transform: uppercase; text-shadow: 1px 1px 1px black; background: url(../img/bg_white_transparency_25.png) 0 0 repeat; box-shadow: 0 -2px 5px -5px black; padding: 3% 2% 2%;}
.page_overlay {display: block; position: absolute; top: 0; left: 0; z-index: 10; width: 50px; height: 50px; background: #000; -moz-opacity: 0.75; opacity: 0.75;}

.noscreen {display: none;}
.cleaner {clear: both; line-height: 0px; font-size: 0px;}
.clearfix:before,.clearfix:after {content: " "; display: table;}
.clearfix:after {clear: both;}
.clearfix {*zoom: 1;} 